{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination">

            {# First #}
            {# {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="mx-1 first">
                    <a class="btn btn-accent" href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="mx-1 first ">
                    <button class="btn btn-accent disabled" disabled>First</button>
                </li>
            {% endif %} #}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="mx-1 prev">
                    <a class="btn btn-accent" href="{{ posts.pagination.prev.link }}"><i class="fas fa-chevron-left"></i></a>
                </li>
            {% else %}
                <li class="mx-1 prev ">
                    <button class="btn btn-accent disabled" disabled><i class="fas fa-chevron-left"></i></button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="mx-1">
                        <a class="btn btn-accent" href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="mx-1 current">
                        <span class="{{ page.class }} btn btn-accent disabled">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="mx-1 next">
                    <a class="btn btn-accent" href="{{ posts.pagination.next.link }}"><i class="fas fa-chevron-right"></i></a>
                </li>
            {% else %}
                <li class="mx-1 next disabled">
                    <button class="btn btn-accent disabled" disabled><i class="fas fa-chevron-right"></i></button>
                </li>
            {% endif %}

            {# Last #}
            {# {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="mx-1 last">
                    <a class="btn btn-accent" href="{{ posts.pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="mx-1 last disabled">
                    <button class="btn btn-accent disabled" disabled>Last</button>
                </li>
            {% endif %} #}

        </ul>
    </nav>
{% endif %}
