{% if menu_items %}
    <ul class="nav navbar-nav" id="{{ class_menu }}">
        {% for item in menu_items %}
            <li class="nav-item dropdown {{ item.classes | join(' ') }}">
                <a href="{{ item.get_children ? 'javascript:void(0)' : item.get_link }}"
                   class="{{ item.get_children ? 'dropdown-toggle' : '' }}"
                   {% if not item.get_children %}
                       target="{{ item.custom._menu_item_target }}"
                   {% endif %}>
                    <span data-letters="{{ item.title }}">{{ item.title }}</span>
                     
                </a>

                {% if item.get_children %}
                    <ul class="dropdown-menu">
                        {% for subitem in item.get_children %}
                            <li class="nav-item dropdown {{ subitem.classes | join(' ') }}">
                                <a href="{{ subitem.get_children ? 'javascript:void(0)' : subitem.get_link }}"
                                   class="{{ subitem.get_children ? 'dropdown-toggle' : '' }}"
                                   {% if not subitem.get_children %}
                                       target="{{ subitem.custom._menu_item_target }}"
                                   {% endif %}>
                                    <span data-letters="{{ subitem.title }}">{{ subitem.title }}</span>
                                    
                                </a>

                                {% if subitem.get_children %}
                                    <ul class="dropdown-menu">
                                        {% for subsubitem in subitem.get_children %}
                                            <li class="{{ subsubitem.classes | join(' ') }}">
                                                <a href="{{ subsubitem.get_link }}"
                                                   target="{{ subsubitem.custom._menu_item_target }}">
                                                    <span data-letters="{{ subsubitem.title }}">{{ subsubitem.title }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

        {# {% if function('is_user_logged_in') %}
            <li>
                <a href="{{ function('wp_logout_url', home) }}">
                    <span>Esci</span>
                </a>
            </li>
        {% endif %} #}
    </ul>
{% endif %}
