 



<section id="header-2">
    <div class="shadow-sm header-menu " >
 
     
            {# A_SETTINGS menu #}
            <!-- menu -->
            <div id="header-2-sidenav" class="sidenav sidenav-close">
                <div class="inner-sidenav">
                    <nav class=" navbar navbar-expand-lg static-top">
                        {# A_SETTINGS logo #}
                        <a class="navbar-brand" href="{{ home }}">
                            <img class="logo img-fluid" src="{% if custom_logo_url %}{{ custom_logo_url[0] }}{% else %}{{ template_directory_uri }}/img/logo-grit-b.png{% endif %}">
                        </a>
                        <button class="navbar-toggler d-block d-lg-none ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span style="font-size:30px; cursor:pointer" class="closebtn" onclick="closeNav('header-2-sidenav');">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    </nav>
                </div>
                <div class="overlay-content">
                    {% include "/templates/headers/header-2/header-2-menu-mobile.twig" with {'primary_menu': primary_menu.get_items} %}
                </div>
            </div>
    
            <nav class=" navbar navbar-expand-lg static-top">
                <a class="navbar-brand" href="{{ home }}">
                    <img class="logo img-fluid" src="{% if custom_logo_url %}{{ custom_logo_url[0] }}{% else %}{{ template_directory_uri }}/img/logo-grit-v2-b.png{% endif %}">
                </a>
                <button class="navbar-toggler d-block d-lg-none ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span style="font-size:30px;cursor:pointer" onclick="openNav('header-2-sidenav');">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse d-none d-lg-block" id="navbarResponsive">
                    {% include "/templates/headers/header-2/header-2-menu.twig" with {'primary_menu': primary_menu.get_items} %}
                </div>
            </nav>
            <!-- /.menu -->
 
    
    </div>
    <div class="shadow-sm sticky-fix sticky">
        <div class="row">
            {# A_SETTINGS menu #}
            <div class="col-12">
                <nav class=" navbar navbar-expand-lg static-top">
                    <a class="navbar-brand" href="{{ home }}">
                        <img class="logo imgl-fluid" src="{% if custom_logo_url %}{{ custom_logo_url[0] }}{% else %}{{ template_directory_uri }}/img/logo-grit-v2-b.png{% endif %}">
                    </a>
                    <button class="navbar-toggler d-block d-lg-none ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav('header-2-sidenav');">
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarResponsive">
                        {% include "/templates/headers/header-2/header-2-menu.twig" with {'primary_menu': primary_menu.get_items} %}
                    </div>
                </nav>
            </div>
            <!-- /.menu -->
        </div>
    
    </div>
</section>

