{# section-contacts #}
 
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 col-md-5">
            {% if section.title %}
             <h1 class="font-weight-bold display-3">
                {{section.title}}
                </h1>
            {% endif %}
                {% if section.text %}
                    <p>
                        {{section.text}} 
                    </p>
                    <div class="inner-social d-inline-block h3 pt-5">
                        <p>{% if setting_facebook %}
                            <a href="{{setting_facebook}}" target="_blank" class=" ">
                                <i class="fab fa-facebook"></i>
                            </a>
                        {% endif %}
                        {% if setting_instagram %}
                            <a href="{{setting_instagram}}" target="_blank" class=" ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        {% endif %}
                        {% if setting_linkedin %}
                            <a href="{{setting_linkedin}}" target="_blank" class=" ">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        {% endif %}
                    </p>
                    </div>
                {% endif %}
            </div> 

            <div class="col-12 col-md-7">
                <div class="contact-form-style-1">
                    {{ function('do_shortcode', section.cf7) }}
                </div>
            </div>


        </div>
    </div>
 
{# end section-contacts #}
