{# section-contacts #}
<section class="section-contacts py-md-5">
    <div class="container-fluid py-4 section-padding">
        <div class="row">
            <div class="col-12 col-md-5">
            {% if section.title %}
             <h1 class="font-weight-bold display-3">
                    {{section.title}}
                </h1>
            {% endif %}
                {% if section.text %}
                    <p>
                        {{section.text}}
                    </p>
                    <div class="inner-social d-inline-block h3 pt-5">
                        {% if setting_instagram %}
                            <a href="{{setting_instagram}}" target="_blank" class=" ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        {% endif %}
                        {% if setting_linkedin %}
                            <a href="{{setting_linkedin}}" target="_blank" class=" ">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div> 

            <div class="col-12 col-md-7">
                <div id="contact-form-style-1">
                    {{ function('do_shortcode', '[contact-form-7 id="50724a4" title="Modulo di Contatto Demo"]') }}
                </div>
            </div>


        </div>
    </div>
</section>
{# end section-contacts #}
