
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET section_carousel_text #}
{# :::::::::::::: 02 * GRIT_SET section_text #} 
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 

{% if 'section_carousel_text' in class %} 

{# :::::::::::::: 01 * GRIT_SET section_carousel_text #}
<div class="container-fluid">
    <div class="row ">
        <div class="col p-0"> 
            <div class="owl-carousel owl-theme ">
                {% for item in section.chapters %}

                    {% set classes = item.inner_class ? item.inner_class|split(' ') : [] %} 
                    {% set other_classes = classes|filter(class => not (class matches '/^col-.*$/')) %}
                    
                    <div class="inner-list {{ other_classes|join(' ') }}">
                        {% if item.image %}
                        <div class="inner-img pb-3 " data-animation="animate__fadeIn animate__slow "> 
                            {% set image = {
                                'alt': item.image.alt,
                                'src': Image(item.image.id).src ,
                                'class': 'img-fluid '
                                }
                            %}
                            {% include ['/partials/img.twig'] with image %} 
                        </div>
                        {% endif %}
    
                        <div class="inner-text in__animate " data-animation="animate__fadeIn animate__slow "> 
                            {% if item.title %}
                                <h1> {{ item.title }}</h1>
                            {% endif %} 
                            {% if item.subtitle %}
                                <h3>{{ item.subtitle }}</h3>
                            {% endif %}  
                            {% if item.text %}
                                {{ item.text }}
                            {% endif %}  
                        </div> 
    
                        <div class="box-buttons in__animate " data-animation="animate__fadeIn animate__slow ">
                            {% if item.link_1 %}
                                    {% set btn = {
                                    'title': item.link_1.title,
                                    'url': item.link_1.url,
                                    'target': item.link_1.target,
                                    'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                                    }
                                    %}
                                    {% include ['/partials/btn.twig'] with btn %}
                            {% endif %} 
                            {% if item.link_2 %}
                                    {% set btn = {
                                    'title': item.link_2.title,
                                    'url': item.link_2.url,
                                    'target': item.link_2.target,
                                    'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                                    }
                                    %}
                                    {% include ['/partials/btn.twig'] with btn %}
                            {% endif %}
                        </div>  
                    </div> 
                   
                {% endfor %}
            </div>  
        </div>
    </div>
</div> 
<script> 
    $(document).ready(function () {
        $(".carousel_text").owlCarousel({
            loop: true,
            margin: 20, 
            autoHeight: false,
            autoWidth: false, 
            center: false,
            nav: true,
            dots: true,  
             navText: [`{% include ['/partials/arrow.twig'] %}`, `{% include ['/partials/arrow.twig'] %}`],  
            /* navText: [`<i class='fa fa-chevron-left'></i>`, `<i class='fa fa-chevron-right'></i>`], */ 
            responsive: {
                0: {
                    items: 1, // Impostazioni per schermi molto piccoli 
                },
                576: {
                    items: 2, // Impostazioni per schermi piccoli 
                },
                768: {
                    items: 3, // Impostazioni per schermi medi 
                },
                992: {
                    items: 3, // Impostazioni per schermi grandi 
                },
                1200: {
                    items: 4, // Impostazioni per schermi molto grandi 
                }
            }
        });
    }); 
</script> 
{# :::::::::::::: 01 * GRIT_SET section_carousel_text END #}

{% else %}

{# :::::::::::::: 02 * GRIT_SET section_text #} 
<div class="container-fluid img-hover-inner">
    <div class="row {% if section.align == 'center' %}justify-content-center{% endif %}">  

        {% for item in section.chapters %} 

            {% set classes = item.inner_class ? item.inner_class|split(' ') : [] %}
            {% set col_classes = classes|filter(class => class matches '/^col-.*$/') %}
            {% set other_classes = classes|filter(class => not (class matches '/^col-.*$/')) %}

            {% if not col_classes %}
                {% set col_classes = '' %}
                {% set total_items = section.chapters | length %}
                {% if total_items == 1 %} 
                    {% if 'center' in section.align %}
                            {% set col_classes = 'col-md-10  col-xl-8 ' %}
                        {% else %}
                            {% set col_classes = 'col-12 col-md-12' %}
                    {% endif %} 
                {% elseif total_items == 2 %}
                    {% set col_classes = 'col-12 col-md-6 ' %}
                {% elseif total_items == 3 %}
                    {% set col_classes = 'col-12 col-sm-6 col-md-4' %}  
                {% else %}
                    {% set col_classes = 'col-12 col-sm-6 col-md-3 ' %}
                {% endif %}
            {% endif %} 

            <div class="item-chapters {{ col_classes|join(' ') }} {{ other_classes|join(' ') }} " id="section_id_{{ section.section_index }}_{{ loop.index }}"> 
        
                <div class="inner-item   ">   
                    {% if item.image %}
                    <div class="inner-img in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% set image = {
                            'alt': item.image.alt,
                            'src': Image(item.image.id).src ,
                            'class': 'img-fluid'
                            }
                        %}
                        {% include ['/partials/img.twig'] with image %} 
                    </div>
                    {% endif %}

                    <div class="inner-text in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% if item.title %}
                            <h1> {{ item.title }}</h1>
                        {% endif %} 
                        {% if item.subtitle %}
                            <h3>{{ item.subtitle }}</h3>
                        {% endif %}  
                        {% if item.text %}
                            {{ item.text }}
                        {% endif %}  
                    </div> 
                    {% if item.link_1 is not empty or item.link_2 is not empty %} 
                    <div class="box-buttons   in__animate " data-animation="animate__fadeIn animate__slow ">
                        {% if item.link_1 %}
                                {% set btn = {
                                'title': item.link_1.title,
                                'url': item.link_1.url,
                                'target': item.link_1.target,
                                'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                                }
                                %}
                                {% include ['/partials/btn.twig'] with btn %}
                        {% endif %}

                        {% if item.link_2 %}
                                {% set btn = {
                                'title': item.link_2.title,
                                'url': item.link_2.url,
                                'target': item.link_2.target,
                                'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                                }
                                %}
                                {% include ['/partials/btn.twig'] with btn %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div> 
            </div>
        {% endfor %} 
    </div>
</div> 
{# :::::::::::::: 02 * GRIT_SET section_text END #} 

{% endif %}



