{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET gallery_carousel #}
{# :::::::::::::: 02 * GRIT_SET gallery #}
{# :::::::::::::: 03 * GRIT_SET single_image #} 
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 
 
{% if section.gallery|length > 1 %}  
    {% if 'gallery_carousel' in class %} 
        {# :::::::::::::: 01 * GRIT_SET gallery_carousel #} 
        <div class="container-fluid ">
            <div class="row">
                <div class="col ">
                    <div class="owl-carousel owl-theme ">
                        {% for item in section.gallery %}
                            {% set attachment = TimberPost(item.id) %}
                            {% set height = TimberImage(item.id).height %}
                            {% set width = TimberImage(item.id).width %}
                            {% set sizewh = height / (width ?: 1) %}
                            {% set imageSrc = TimberImage(item.id).src %}
                            {% set imageAlt = item.alt %}
                            {% if sizewh < 1 %}
                                <a class="item item-img-gallery no-load img-oriz"
                                   data-lightbox-gallery="item-gallery-{{ section.section_index }}"
                                   data-width="{{ width }}"
                                   data-height="{{ height }}"
                                   data-ratio="{{ sizewh }}"
                                   href="{{ imageSrc }}"
                                   title="{{imageAlt}} h:{{ height }}, w:{{ width }}, sizewh:{{ sizewh }}">
                                    <img src="{{ imageSrc|resize(570, 400) }}" alt="{{imageAlt}}" class="img-fluid in__animate " data-animation="animate__fadeIn animate__faster ">
                                </a>
                            {% elseif sizewh == 1 %}
                                <a class="item item-img-gallery no-load img-oriz"
                                   data-lightbox-gallery="item-gallery-{{ section.section_index }}"
                                   data-width="{{ width }}"
                                   data-height="{{ height }}"
                                   data-ratio="{{ sizewh }}"
                                   href="{{ imageSrc }}"
                                   title="{{imageAlt}} h:{{ height }}, w:{{ width }}, sizewh:{{ sizewh }}">
                                    <img src="{{ imageSrc|resize(400, 400) }}" alt="{{imageAlt}}" class="img-fluid in__animate " data-animation="animate__fadeIn animate__faster ">
                                </a>
                            {% else %}
                                <a class="item item-img-gallery no-load img-vert"
                                   data-lightbox-gallery="item-gallery-{{ section.section_index }}"
                                   data-width="{{ width }}"
                                   data-height="{{ height }}"
                                   data-ratio="{{ sizewh }}"
                                   href="{{ imageSrc }}"
                                   title="{{imageAlt}} h:{{ height }}, w:{{ width }}, sizewh:{{ sizewh }}">
                                    <img src="{{ imageSrc|resize(270, 400) }}" alt="{{imageAlt}}" class="img-fluid in__animate " data-animation="animate__fadeIn animate__faster ">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div> 
                </div>
            </div> 
        </div>
        <script> 
            window.navLeftArrow = `{% include '/partials/arrow.twig' %}`;
            window.navRightArrow = `{% include '/partials/arrow.twig' %}`; 
        </script> 
        {# :::::::::::::: 01 * GRIT_SET gallery_carousel END #}
    {% else %}
    {# :::::::::::::: 02 * GRIT_SET section_gallery #} 
    {% set image_ids = section.gallery | map(image => image.id) | join(',') %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12">
                <div class="section_gallery">
                    {{ function('do_shortcode', '[gallery ids="' ~ image_ids ~ '" columns="'~ section.columns ~'" size="' ~ section.size ~ '" ]') }}
                </div>
            </div>
        </div>
    </div>
    {# :::::::::::::: 02 * GRIT_SET section_gallery END #} 
    {% endif %} 
{% else %}
    {# :::::::::::::: 03 * GRIT_SET single_image #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 in__animate " data-animation="animate__fadeIn animate__slow ">
                {% set classes = section.class ? section.class|split(' ') : [] %}

                {% if section.gallery[0] %} 
                    {% if 'parallax-gsap' in classes %}
                          
                        <div class="gsap-parallax-container">
                            {% set image = {
                            'alt': section.gallery[0].alt,
                            'src': Image(section.gallery[0].id).src,
                            'class': 'gsap-parallaxImage'
                        } %}
                            {% include ['/partials/img.twig'] with image %}
                        </div>
                        <style> 
                            .gsap-parallax-container {
                                height: 500px; /* o un'altra altezza significativa */
                                position: relative;
                                overflow: hidden;
                            }
                        </style>   
                {% elseif 'parallax' in classes %} 
                
                    <div class="jarallax-keep-img overlay-in" data-speed="0.2">
                        {% set image = {
                                'alt': section.gallery[0].alt,
                                'src': Image(section.gallery[0].id).src,
                                'class': 'img-fluid jarallax-img'
                            } %}
                        {% include ['/partials/img.twig'] with image %}
                    </div> 
                {% else %}
                    {% set image = {
                            'alt': section.gallery[0].alt,
                            'src': Image(section.gallery[0].id).src,
                            'class': 'img-fluid'
                        } %}
                    {% include ['/partials/img.twig'] with image %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {# :::::::::::::: 03 * GRIT_SET single_image END #}
{% endif %}

