{# Section #section_page_header #}
     <div class="container-fluid">
        <div class="row">
            <div class="col-12"> 
                <h1 class="display-1 font-weight-normal ">
                    {{section.title}}
                </h1>
            </div>
            <div class="col-12 my-4">
                <hr class="border-{{section.text_color}}">
            </div>
            <div class="col-12 col-md-6">
                {% if section.subtitle %}
                    <p class=" text-uppercase ">{{section.subtitle}}</p>
                {% endif %}
              </div>
            <div class="col-12 col-md-6 text-right">
                <p class=" text-uppercase d-none d-xl-block">
                    <a href="#" class="scrollbtn color-{{section.text_color}}">
                         {{__('Scroll Down', 'grit_theme')}}
                    </a> 
                </p>
            </div>
        </div>
    </div>
 
{# end Section #section_page_header #}
