{# section_carousel #}  
<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div class="owl-carousel owl-theme carousel-base">
                {% for item in section.carousel %}
                    {% set attachment = TimberPost(item.image.id) %}
                    {% set height = TimberImage(item.image.id).height %}
                    {% set width = TimberImage(item.image.id).width %}
                    {% set sizewh = height / width %}
                    {% set imageSrc = TimberImage(item.image.id).src %}
                    
                    {% if sizewh < 1 %}
                        <a class="item item-img-gallery no-load img-oriz"
                           data-lightbox-gallery="item-gallery"
                           data-width="{{ width }}"
                           data-height="{{ height }}"
                           data-ratio="{{ sizewh }}"
                           href="{{ imageSrc }}"
                           title="h:{{ height }}, w:{{ width }}, sizewh:{{ sizewh }}">
                            <img src="{{ imageSrc|resize(570, 400) }}" alt="" class="img-fluid in__animate " data-animation="animate__fadeIn animate__faster ">
                        </a>
                    {% elseif sizewh == 1 %}
                        <a class="item item-img-gallery no-load img-oriz"
                           data-lightbox-gallery="item-gallery"
                           data-width="{{ width }}"
                           data-height="{{ height }}"
                           data-ratio="{{ sizewh }}"
                           href="{{ imageSrc }}"
                           title="h:{{ height }}, w:{{ width }}, sizewh:{{ sizewh }}">
                            <img src="{{ imageSrc|resize(400, 400) }}" alt="" class="img-fluid in__animate " data-animation="animate__fadeIn animate__faster ">
                        </a>
                    {% else %}
                        <a class="item item-img-gallery no-load img-vert"
                           data-lightbox-gallery="item-gallery"
                           data-width="{{ width }}"
                           data-height="{{ height }}"
                           data-ratio="{{ sizewh }}"
                           href="{{ imageSrc }}"
                           title="h:{{ height }}, w:{{ width }}, sizewh:{{ sizewh }}">
                            <img src="{{ imageSrc|resize(270, 400) }}" alt="" class="img-fluid in__animate " data-animation="animate__fadeIn animate__faster ">
                        </a>
                    {% endif %}
                {% endfor %}
            </div> 
        </div>
    </div> 
</div>



<script>  
    $(document).ready(function () {
        $(".carousel-base").owlCarousel({
            loop: true,
            margin: 20,
            responsiveClass: true,
            autoHeight: true,
            autoWidth:true,
            center:true,
            nav: true,
            dots: true,
            
            /* navText: [`{% include ['/partials/arrow.twig'] %}`, `{% include ['/partials/arrow.twig'] %}`], */


             navText: [`<i class='fa fa-chevron-left'></i>`, `<i class='fa fa-chevron-right'></i>`], 

            responsive: {
                0: {
                    items: 1.2, // Impostazioni per schermi molto piccoli
 
                },
                576: {
                    items: 2.2, // Impostazioni per schermi piccoli
              
                },
                768: {
                    items: 3.2, // Impostazioni per schermi medi
        
                },
                992: {
                    items: 3.2, // Impostazioni per schermi grandi
                
                },
                1200: {
                    items: 3.2, // Impostazioni per schermi molto grandi
                
                }
            }
        });
    });


    $(document).ready(function () {
        $('.item-img-gallery').nivoLightbox({ 
            // The effect to use when showing the lightbox
            // fade, fadeScale, slideLeft, slideRight, slideUp, slideDown, fall
            effect: 'slideUp',

            // The lightbox theme to use
            theme: 'default',

            // Enable/Disable keyboard navigation
            keyboardNav: true,

            // Click image to close
            clickImgToClose: false,

            // Click overlay to close
            clickOverlayToClose: true,

            // Callback functions
            onInit: function(){},
            beforeShowLightbox: function(){},
            afterShowLightbox: function(lightbox){},
            beforeHideLightbox: function(){},
            afterHideLightbox: function(){},
            beforePrev: function(element){},
            onPrev: function(element){},
            beforeNext: function(element){},
            onNext: function(element){},

            // Error message
            errorMessage: 'The requested content cannot be loaded. Please try again later.'

        });
    });


        // Prevenzione dell'apertura del link in una nuova scheda
        $('.item-img-gallery').on('click', function (event) {
        event.preventDefault(); // Previene il comportamento predefinito del link
    });

</script>

{# end section_carousel #}
 

 