{# Section #section_cube #}
<section class="section_cube ">
    <div class="container-fluid ">
        <div class="row  ">
            <div class="col-12 col-md-7   p-0 m-0 col-text d-flex flex-column justify-content-center {% if loop.index is even %} order-first order-md-last {% endif %} ">
                <div class="inner-text ">
                    <h1 class="display-3 font-weight-bold">
                        {{section.title}}
                    </h5>
                    <div class="py-4 mb-5">
                        {{section.text}}
                    </div>
                    {% if section.lists %}
                    <div class="owl-carousel owl-theme carousel-single-plus pt-5"  >
                        {% for item in section.lists %}
                           
                            
                            <div class="item-plus  {% if section.lists_style == 'style1' %} bg-secondary {% endif %}  px-3 py-4 mt-4">
                                {% if item.icon %}
                                    <img src="{{ Image(item.icon.id).src|resize(50,50)}}" alt="" class=" ">
                                {% endif %}
                                
                                
                                {% if item.bedge %}
                                <div class="bedge"><p  class="m-0 p-0">{{item.bedge}}</p></div>
                                {% endif %}
                                
                                 
                                <div class="inner-plus {% if item.icon %} pt-5 {% else %} pt-4 {% endif %}">
                                    <h5 >{{item.title}}</h5>
                                <p>{{item.text}}</p>
                                </div>
                            </div>
                           
                        {% endfor %}
                     </div> 
                    {% endif %} 
                    {% if section.link %}
                        <a href="{{section.link.url}}" class="btn btn-primary btn-rounded btn-lg">
                            {{section.link.title}}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-5  p-5 m-0 col-img  {% if loop.index is even %} order-last order-md-first {% endif %}">
                <img src="{{ Image(section.image.id).src}}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<script>
 

$(document).ready(function () {
    $(".carousel-single-plus").owlCarousel({
        loop: true,
        margin: 20,
        responsiveClass: true, 
        nav: false,
        dots: true,
         items: 1, // Impostazioni per schermi molto piccoli
        navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
        responsive: {
            0: {
                items: 1, // Impostazioni per schermi molto piccoli
                nav: true,
            },
            576: {
                items: 1, // Impostazioni per schermi piccoli
                nav: true,
            },
            768: {
                items: 1, // Impostazioni per schermi medi
                nav: true,
            },
            992: {
                items: 1, // Impostazioni per schermi grandi
                nav: false,
            },
            1200: {
                items: 2, // Impostazioni per schermi molto grandi
                nav: false,
            }
        }
        
    });
});
</script>
{# end Section #section_cube #}
