{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET section_collpase_search #}
{# :::::::::::::: 02 * GRIT_SET section_collpase #}
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 

{% if 'section_collpase_search' in class %} 
{# :::::::::::::: 01 * GRIT_SET section_collpase_search #}
     <div class="container-fluid">
        <div class="row">
            <div class=" col-12 my-5 in__animate " data-animation="animate__fadeIn animate__slow " id="search_list">
                <div class="py-3">
                    <form action="" class="form">
                        <input type="search" class="search" placeholder="{{__('Come possiamo aiutarti?', 'grit_theme')}}"/>
                    </form> 
                </div> 
                <ul class="list p-0 w-100 list-unstyled">
                    {% for list in section.lists %}
                        {% set list_id = list.args|replace({' ': ''}) %} 
                        {% set counter = 0 %} 
                            {% for item in list.item %} 
                            <li class="item-search mb-1"> 
                                {% if list.args %} 
                                    {% if counter == 0 %}
                                    <div class="col-12 pt-5 in__animate " data-animation="animate__fadeIn animate__slow ">
                                        <h2 class="color-{{ list.args_color }}">
                                            <i class="fas fa-info-circle mr-2 "></i> {{ list.args }}
                                        </h2>
                                    </div>
                                    {% endif %} 
                                {% endif %} 
                                <div class="accordion w-100 in__animate " data-animation="animate__fadeIn animate__slow " id="accordion_search_{{ section.section_index }}_{{list_id}}">
                                    <div class="inner-collapse bg-light">
                                        <div id="heading_{{ section.section_index }}_{{list_id}}_{{loop.index}} " class="py-2 px-3 text-white py-md-4 px-md-5 bg-{{ list.args_color }} accordion_search_heading  collapsed" type="button" data-toggle="collapse" data-target="#collapse_search_{{ section.section_index }}_{{list_id}}_{{loop.index}}" aria-expanded="false" collapsed aria-controls="collapse_search_{{ section.section_index }}_{{list_id}}_{{loop.index}}">
                                            <div class="row align-items-center">
                                                <div class="col-10">
                                                    <p class="m-0 search_title">
                                                        {{ item.title }}
                                                    </p>
                                                    {% if list.args %}
                                                    <p class="text-uppercase m-0  ">
                                                        <small><i class="fas fa-info-circle mr-1 "></i>{{ list.args }}</small>
                                                    </p> 
                                                    {% endif %}
                                                </div>
                                                <div class="col-2  text-right">
                                                    <p class="m-0 collapse-symbol" id="symbol_{{loop.index}}">
                                                        <i class="fas fa-plus"></i>
                                                        {# {% include ['/img/plus.svg'] %} #}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapse_search_{{ section.section_index }}_{{list_id}}_{{loop.index}}" class="accordion_search_body collapse  " aria-labelledby="heading_{{ section.section_index }}_{{list_id}}_{{loop.index}}" data-parent="#accordion_search_{{ section.section_index }}_{{list_id}}">
                                            {% if item.text %}
                                                <div class="col-12 col-md-12 py-2 px-3 py-md-4 px-md-5 search_tex in__animate " data-animation="animate__fadeIn animate__slow ">
                                                    {{item.text}}

                                                    {% if item.link_1 is not empty or item.link_2 is not empty %} 
                                                    <div class="box-buttons   in__animate " data-animation="animate__fadeIn animate__slow ">
                                                        {% if item.link_1 %}
                                                                {% set btn = {
                                                                'title': item.link_1.title,
                                                                'url': item.link_1.url,
                                                                'target': item.link_1.target,
                                                                'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                                                                }
                                                                %}
                                                                {% include ['/partials/btn.twig'] with btn %}
                                                        {% endif %}

                                                        {% if item.link_2 %}
                                                                {% set btn = {
                                                                'title': item.link_2.title,
                                                                'url': item.link_2.url,
                                                                'target': item.link_2.target,
                                                                'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                                                                }
                                                                %}
                                                                {% include ['/partials/btn.twig'] with btn %}
                                                        {% endif %}
                                                    </div>
                                                    {% endif %} 
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% set counter = counter + 1 %}
                        {% endfor %}
                    {% endfor %}
                </ul> 
                <div class="text-center in__animate " data-animation="animate__fadeIn animate__slow ">
                    <ul class="pagination pagination-list-js"></ul>
                </div> 
            </div>  
     </div> 
 </div> 
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            valueNames: [
                'search_title', 'search_text'
            ],
            page: 7,
            pagination: true
        };
        var userList = new List('search_list', options);
    });
</script>
 {# :::::::::::::: 01 * GRIT_SET section_collpase_search END #}
 {% else %}
 {# :::::::::::::: 02 * GRIT_SET section_collpase #}
      <div class="container-fluid">
        <div class="row"> 
             {% for list in section.lists %}
                {% set list_id = list.args|replace({' ': ''}) %}
                <div class="col-12 pt-5 in__animate " data-animation="animate__fadeIn animate__slow ">
                    <h2 class="color-{{ list.args_color }}">
                        <i class="fas fa-info-circle mr-2 "></i> {{ list.args }}
                    </h2>
                </div>
                <div class="col-12"> 
                    <div class="accordion w-100 in__animate " data-animation="animate__fadeIn animate__slow " id="accordion_{{ section.section_index }}_{{list_id}}">
                        {% for item in list.item %}
                            <div class="inner-collapse bg-light  mb-1">
                                <div id="heading_{{ section.section_index }}_{{list_id}}_{{loop.index}} " class="py-2 px-3 text-white py-md-4 px-md-5 bg-{{ list.args_color }} accordion_heading  {{ (loop.first) ? '' : 'collapsed' }}" type="button" data-toggle="collapse" data-target="#collapse_{{ section.section_index }}_{{list_id}}_{{loop.index}}" aria-expanded="{{ (loop.first) ? 'true' : 'false' }}" collapsed aria-controls="collapse_{{ section.section_index }}_{{list_id}}_{{loop.index}}">
                                    <div class="row">
                                        <div class="col-10">
                                            <p class="m-0 search_title">
                                                {{ item.title }}
                                            </p>
                                        </div>
                                        <div class="col-2  text-right">
                                            <p class="m-0 collapse-symbol" id="symbol_{{loop.index}}">
                                                {{ (loop.first) ? '<i class="fas fa-minus"></i>' : '<i class="fas fa-plus"></i>' }}
                                                {# {{ (loop.first) ? include ['/img/minus.svg'] : include ['/img/plus.svg'] }} #} 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse_{{ section.section_index }}_{{list_id}}_{{loop.index}}" class="accordion_body collapse {{ (loop.first) ? 'show' : ' ' }}" aria-labelledby="heading_{{ section.section_index }}_{{list_id}}_{{loop.index}}" data-parent="#accordion_{{ section.section_index }}_{{list_id}}">
                                    {% if item.text %}
                                        <div class="col-12 col-md-12 py-2 px-3 py-md-4 px-md-5 search_tex in__animate " data-animation="animate__fadeIn animate__slow ">
                                            {{item.text}}
                                            {% if item.link_1 is not empty or item.link_2 is not empty %} 
                                                    <div class="box-buttons   in__animate " data-animation="animate__fadeIn animate__slow ">
                                                        {% if item.link_1 %}
                                                                {% set btn = {
                                                                'title': item.link_1.title,
                                                                'url': item.link_1.url,
                                                                'target': item.link_1.target,
                                                                'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                                                                }
                                                                %}
                                                                {% include ['/partials/btn.twig'] with btn %}
                                                        {% endif %}

                                                        {% if item.link_2 %}
                                                                {% set btn = {
                                                                'title': item.link_2.title,
                                                                'url': item.link_2.url,
                                                                'target': item.link_2.target,
                                                                'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                                                                }
                                                                %}
                                                                {% include ['/partials/btn.twig'] with btn %}
                                                        {% endif %}
                                                    </div>
                                                    {% endif %} 
                                        </div>
                                    {% endif %}
                                </div>
                            </div> 
                        {% endfor %}
                    </div> 
                </div>
            {% endfor %}
        </div> 
    </div> 
 {# :::::::::::::: 02 * GRIT_SET section_collpase END #}
{% endif %}

 


 



