<section class="section_id_{{ section.section_index }} section_faq py-5 color-{{ section.text_color }} bg-{{ section.background_color }}">
    <div class="container-fluid {% if section.contained %} contained {% endif %}">
        <div class="row">
            <div class="col-12 my-5" id="section-faq-list-search">
                <div class="contact-form-style-1" id="search_list">
                    <input class="search" placeholder="Come possiamo aiutarti?"/>
                    <ul class="list p-0 w-100 list-unstyled">
                        {% for faq in section.list_faq %}
                            {% set faq_id = faq.faq_args|replace({' ': ''}) %}
                            {% for questions in faq.faq_questions %}
                                <li class="item-search ">
                                    <div class="row">
                                        <div class="col-12 pt-4">
                                            <div class="row collapsed"
                                                id="heading_{{ faq_id }}_{{ loop.index }}"
                                                data-toggle="collapse"
                                                data-target="#collapse_search_{{ faq_id }}_{{ loop.index }}"
                                                aria-expanded="true"
                                                aria-controls="collapse_search_{{ faq_id }}_{{ loop.index }}">
                                                <div class="col-9">
                                                    <h5 class="search_question p-0 m-0">{{ questions.question }}</h5>
                                                    <p class="color-{{ faq.faq_args_color }} grit-p-sm">{{ faq.faq_args }}</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="far fa-question-circle color-{{ faq.faq_args_color }}"></i>
                                                </div>
                                            </div>
                                            <div id="collapse_search_{{ faq_id }}_{{ loop.index }}" class="collapse"
                                                aria-labelledby="heading_{{ faq_id }}_{{ loop.index }}" data-parent="#accordion">
                                                <div class="pb-4 search_answer">
                                                    <hr>
                                                    {{ questions.answer }}
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="pagination pagination-list-js"></ul>
                </div>
            </div>
        </div>

        <div id="accordion">
            <div class="row">
                {% for faq in section.list_faq %}
                    {% set faq_id = faq.faq_args|replace({' ': ''}) %}
                    <div class="col-12 pt-5">
                        <h2 class="color-{{ faq.faq_args_color }}">{{ faq.faq_args }}</h2>
                    </div>
                    <div class="col">
                        <div class="row">
                            {% for questions in faq.faq_questions %}
                                <div class="col-12 col-md-6">
                                    <div class="row {% if loop.index != 1 %} collapsed {% endif %}"
                                        id="heading_{{ faq_id }}_{{ loop.index }}"
                                        data-toggle="collapse"
                                        data-target="#collapse_{{ faq_id }}_{{ loop.index }}"
                                        aria-expanded="true"
                                        aria-controls="collapse_{{ faq_id }}_{{ loop.index }}">
                                        <div class="col-9 pt-3">
                                            <h5>{{ questions.question }}</h5>
                                        </div>
                                        <div class="col-3 text-right pt-3">
                                            <i class="far fa-question-circle color-{{ faq.faq_args_color }}"></i>
                                        </div>
                                    </div>
                                    <div id="collapse_{{ faq_id }}_{{ loop.index }}" class="collapse {% if loop.index == 1 %} show {% endif %}"
                                        aria-labelledby="heading_{{ faq_id }}_{{ loop.index }}" data-parent="#accordion">
                                        <div class="pb-2">
                                            <hr>
                                            {{ questions.answer }}
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<style>
    #search_list .search {
        font-size: 30px;
        line-height: 35px;
    }

    .item-search {
        width: 100%;
    }

    .pagination-list-js li {
        background: var(--elit-blu-primary);
        color: #fff;
        margin-right: 5px;
        padding: 5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
    }

    .pagination-list-js li.active {
        background: var(--elit-magenta-primary);
    }

    .pagination-list-js li a {
        color: #fff;
    }

    .pagination-list-js li a:hover {
        color: #fff;
    }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            valueNames: ['search_question', 'search_answer'],
            page: 3,
            pagination: true
        };
        var userList = new List('search_list', options);
    });
</script>
