{% if 'section_carousel_list' in class %}
 {# section_carousel_list #}
<div class="container-fluid">
    <div class="row">
        <div class="col p-0"> 
            <div class="owl-carousel owl-theme carousel_list pb-5 mb-3">
                {% for item in section.chapters %}
                    
                <div class="inner-list py-2">
                    {% if item.image %}
                    <div class="inner-img pb-3 " data-animation="animate__fadeIn animate__slow "> 
                        {% set image = {
                            'alt': item.image.alt,
                            'src': Image(item.image.id).src ,
                            'class': 'img-fluid '
                            }
                        %}
                        {% include ['/partials/img.twig'] with image %} 
                    </div>
                    {% endif %}

                    <div class="inner-text in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% if item.title %}
                            <h1> {{ item.title }}</h1>
                        {% endif %} 
                        {% if item.subtitle %}
                            <h3>{{ item.subtitle }}</h3>
                        {% endif %}  
                        {% if item.text %}
                            {{ item.text }}
                        {% endif %}  
                    </div> 

                    <div class="box-buttons in__animate " data-animation="animate__fadeIn animate__slow ">
                        {% if item.link_1 %}
                                {% set btn = {
                                'title': item.link_1.title,
                                'url': item.link_1.url,
                                'target': item.link_1.target,
                                'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                                }
                                %}
                                {% include ['/partials/btn.twig'] with btn %}
                        {% endif %} 
                        {% if item.link_2 %}
                                {% set btn = {
                                'title': item.link_2.title,
                                'url': item.link_2.url,
                                'target': item.link_2.target,
                                'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                                }
                                %}
                                {% include ['/partials/btn.twig'] with btn %}
                        {% endif %}
                    </div> 
                    
                </div> 
                   
                {% endfor %}
            </div>  
        </div>
    </div>
</div> 
<script> 
    $(document).ready(function () {
        $(".carousel_list").owlCarousel({
            loop: true,
            margin: 20, 
            autoHeight: false,
            autoWidth: false, 
            center: false,
            nav: true,
            dots: true, 
            
             navText: [`{% include ['/partials/arrow.twig'] %}`, `{% include ['/partials/arrow.twig'] %}`], 


            /* navText: [`<i class='fa fa-chevron-left'></i>`, `<i class='fa fa-chevron-right'></i>`], */

            responsive: {
                0: {
                    items: 1, // Impostazioni per schermi molto piccoli
 
                },
                576: {
                    items: 2, // Impostazioni per schermi piccoli
              
                },
                768: {
                    items: 3, // Impostazioni per schermi medi
        
                },
                992: {
                    items: 3, // Impostazioni per schermi grandi
                
                },
                1200: {
                    items: 4, // Impostazioni per schermi molto grandi
                
                }
            }
        });
    }); 
</script> 
{# end section_carousel_list #}


{% elseif 'section_text_4_7' in class %}
{# section_text_4_7 #}
<div class="container-fluid">
    <div class="row"> 
        {% for item in section.chapters %}
            <div class="col-12">
            {% if item.image %}
                    <div class="inner-img pb-5 in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% set image = {
                            'alt': item.image.alt,
                            'src': Image(item.image.id).src ,
                            'class': 'img-fluid '
                            }
                        %}
                        {% include ['/partials/img.twig'] with image %} 
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                <div class="inner-title in__animate " data-animation="animate__fadeIn animate__slow ">
                    <div class="inner-text">  
                        {% if item.title %}
                            <h1> {{ item.title }}</h1>
                        {% endif %} 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 offset-md-1 in__animate " data-animation="animate__fadeIn animate__slow "> 
                <div class="inner-text pb-3">  
                    {% if item.subtitle %}
                        <h3>{{ item.subtitle }}</h3>
                    {% endif %}  
                    {% if item.text %}
                        {{ item.text }}
                    {% endif %}  
                </div>  
                
                <div class="box-buttons pb-5 in__animate " data-animation="animate__fadeIn animate__slow ">
                    {% if item.link_1 %}
                            {% set btn = {
                            'title': item.link_1.title,
                            'url': item.link_1.url,
                            'target': item.link_1.target,
                            'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                            }
                            %}
                            {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                        
                    {% if item.link_2 %}
                            {% set btn = {
                            'title': item.link_2.title,
                            'url': item.link_2.url,
                            'target': item.link_2.target,
                            'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                            }
                            %}
                            {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                </div>

                

            </div>
        {% endfor %}
    </div>
</div>
{# end section_text_4_7 #}
{% elseif 'section_text_7_4' in class %} 
{# section_text_7_4 #}
<div class="container-fluid">
    <div class="row"> 
        {% for item in section.chapters %}
            <div class="col-12">
            {% if item.image %}
                    <div class="inner-img pb-5 in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% set image = {
                            'alt': item.image.alt,
                            'src': Image(item.image.id).src ,
                            'class': 'img-fluid '
                            }
                        %}
                        {% include ['/partials/img.twig'] with image %} 
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 order-1 order-md-0 in__animate " data-animation="animate__fadeIn animate__slow "> 
                <div class="inner-text pb-3">  
                    {% if item.subtitle %}
                        <h3>{{ item.subtitle }}</h3>
                    {% endif %}  
                    {% if item.text %}
                        {{ item.text }}
                    {% endif %}  
                </div>   
                <div class="box-buttons pb-5 in__animate " data-animation="animate__fadeIn animate__slow ">
                    {% if item.link_1 %}
                            {% set btn = {
                            'title': item.link_1.title,
                            'url': item.link_1.url,
                            'target': item.link_1.target,
                            'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                            }
                            %}
                            {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                        
                    {% if item.link_2 %}
                            {% set btn = {
                            'title': item.link_2.title,
                            'url': item.link_2.url,
                            'target': item.link_2.target,
                            'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                            }
                            %}
                            {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                </div>

                

            </div>
            <div class="col-12 col-md-4 offset-md-1 order-0 order-md-1">
                <div class="inner-title in__animate " data-animation="animate__fadeIn animate__slow ">
                    <div class="inner-text">  
                        {% if item.title %}
                            <h1> {{ item.title }}</h1>
                        {% endif %} 
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
{# end section_text_7_4 #}
{% else %}
    {# section_text #}
{% set total_items = section.chapters | length %}
<div class="container-fluid">
    <div class="row"> 

        {% for item in section.chapters %}
            <div class="item-chapters py-5
                {% if total_items == 1 %} 
                    {% if 'center' in section.align %}
                        col-md-10 offset-md-1 col-xl-8 offset-xl-2  
                        {% else %}
                        col-12 col-md-12
                    {% endif %} 
                {% elseif total_items == 2 %}
                    col-12 col-md-6 
                {% elseif total_items == 3 %}
                    col-12 col-sm-6 col-md-4  
                {% else %}
                    col-12 col-sm-6 col-md-3 
                {% endif %}
            "> 
        
                <div class="inner-item in__animate " data-animation="animate__fadeIn animate__slow ">   
                    {% if item.image %}
                    <div class="inner-img pb-3"> 
                        {% set image = {
                            'alt': item.image.alt,
                            'src': Image(item.image.id).src ,
                            'class': 'img-fluid '
                            }
                        %}
                        {% include ['/partials/img.twig'] with image %} 
                    </div>
                    {% endif %}

                    <div class="inner-text in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% if item.title %}
                            <h1> {{ item.title }}</h1>
                        {% endif %} 
                        {% if item.subtitle %}
                            <h3>{{ item.subtitle }}</h3>
                        {% endif %}  
                        {% if item.text %}
                            {{ item.text }}
                        {% endif %}  
                    </div> 
                    <div class="box-buttons in__animate " data-animation="animate__fadeIn animate__slow ">
                        {% if item.link_1 %}
                                {% set btn = {
                                'title': item.link_1.title,
                                'url': item.link_1.url,
                                'target': item.link_1.target,
                                'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                                }
                                %}
                                {% include ['/partials/btn.twig'] with btn %}
                        {% endif %} 
                        {% if item.link_2 %}
                                {% set btn = {
                                'title': item.link_2.title,
                                'url': item.link_2.url,
                                'target': item.link_2.target,
                                'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                                }
                                %}
                                {% include ['/partials/btn.twig'] with btn %}
                        {% endif %}
                    </div> 
                </div> 
            </div>
        {% endfor %} 
    </div>
</div> 
{# end section_text #}

{% endif %}



