{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET section_main #} 
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 




{# :::::::::::::: 01 * GRIT_SET section_main #} 
{% set acf_fc_layout = section.acf_fc_layout %}

{% if section.background_color %}
    {% set background_color = 'bg-'~ section.background_color %} 
{% endif %}

{% if section.text_color %}
    {% set text_color = 'color-'~ section.text_color %} 
{% endif %}

{% if section.align %}
    {% set align = 'text-'~ section.align %} 
{% endif %}

{% if section.contained %}
    {% set contained = 'contained' %} 
{% endif %}

{% if section.class %}
    {% set class = section.class %} 
{% endif %} 

{% if section.background_half %}
    {% set background_half = '-half' %} 
{% endif %} 
 

{% set classes = class ? class|split(' ') : [] %}
{% set col_classes = classes|filter(class =>  class == 'col' or class matches '/^col-.*$/' ) %}
{% set other_classes = classes|filter(class => not ( class == 'col' or class matches '/^col-.*$/')) %}
{# class: {{ class }}<br>
col_classes: {{ col_classes|join(' ') | default('col col-12') }}<br>
other_classes: {{ other_classes|join(' ') }}<br>  #}
 
<section class="{{acf_fc_layout}} {{background_color}}{{background_half}} {{align}} {{text_color}} {{contained}} {{ other_classes|join(' ') }} " id="section_id_{{ section.section_index }}"> 
        {% include ['/sections/'~ section.acf_fc_layout ~'.twig'] with section %} 
</section>
{# :::::::::::::: 01 * GRIT_SET section_main END #} 