{# section_cube #}
 
    <div class="container-fluid ">
        <div class="row align-items-stretch {{ section.contained ? 'bg-'~ section.background_color : '' }} ">
            
            
            <div class="col-12 col-md-6 p-0 m-0 col-text d-flex flex-column justify-content-center {{ section.contained ? '' : 'bg-'~ section.background_color }} order-first {% if section.invert %} order-md-last {% else %}  {% endif %}">
                <div class="inner-text color-{{section.color}} ">
                    {% if section.title %}
                        <h1 class=" color-{{section.text_color}}">
                            {{section.title}}
                        </h1>
                    {% endif %}
                    
                    {% if section.text %}
                        <div class="py-4 color-{{section.text_color}}">
                            {{section.text}} 
                        </div>
                    {% endif %}

                    {% if section.lists %}
                    <div class="row pb-4">
                        {% for item in section.lists %}
                            <div class="col-12 item-list " >
                                <div class="inner-item-list border-{{section.text_color}}  d-flex align-items-center mb-3 pb-2">
                                {% if item.icon %}
                                    <img src="{{ Image(item.icon.id).src|resize(60,60)}}" alt="" class="img-fluid pr-2">
                                {% endif %} 
                                <p class="p-0 m-0 color-{{section.text_color}}">
                                    {{item.text}}
                                </p>
                                </div>
                            </div>
                        {% endfor %} 
                    </div> 
                    {% endif %}
                    <div class="box-buttons"> 
                    {% if section.link_1 %}
                        {% set btn = {
                            'title': section.link_1.title,
                            'url': section.link_1.url,
                            'target': section.link_1.target,
                            'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                            }
                        %}
                        {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}

                    {% if section.link_2 %}
                        {% set btn = {
                            'title': section.link_2.title,
                            'url': section.link_2.url,
                            'target': section.link_2.target,
                            'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                            }
                        %}
                        {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                    
                    </div>
                    

                </div>
            </div>
 
            <div class="col-12 col-md-6 p-0 m-0 col-img order-last 
                {% if 'parallax' in section.class %} jarallax-keep-img {% endif %} 
                {% if section.gallery|length == 1 %} single-image {% endif %}
                {% if section.invert %} order-md-first {% else %}  {% endif %}"  
                {% if section.gallery|length == 1 %} style="background-image: url('{{ Image(section.gallery[0].id).src|resize(1400,1400)}}');" {% endif %} >
                
                {% if section.gallery|length > 1 %}
                    <div class="owl-carousel owl-theme carousel-cube" > 
                        {% for gallery_img in section.gallery %}

                            {% if 'parallax' in section.class %}

                                <div class="jarallax-keep-img" data-speed="0.5"> 
                                    {% set image = {
                                        'alt': gallery_img.alt,
                                        'src': Image(gallery_img.id).src|resize(1400,1400) ,
                                        'class': 'img-fluid jarallax-img'
                                    } %}
                                    {% include ['/partials/img.twig'] with image %}   
                                </div>

                            {% else %}

                                {% set image = {
                                    'alt': gallery_img.alt,
                                    'src': Image(gallery_img.id).src|resize(1400,1400) ,
                                    'class': 'img-fluid '
                                } %}
                                {% include ['/partials/img.twig'] with image %} 

                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %} 
                    {# {% set image = {
                        'alt': section.gallery[0].alt,
                        'src': Image(section.gallery[0].id).src|resize(1400,1400) ,
                        'class': 'img-fluid '
                    } %}
                    {% include ['/partials/img.twig'] with image %}   #}
                {% endif %}
                
                
            </div>
        </div>
    </div>
 




<script>
 

 $(document).ready(function () {
     $(".carousel-cube").owlCarousel({
         loop: true,
         margin: 0,
         responsiveClass: true, 
         nav: true,
         dots: true,
         navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
         items: 1,
     });
 });
 
 </script>

{# end section_cube #}
