{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET section_video #} 
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}

{# :::::::::::::: 01 * GRIT_SET section_video #}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="{{ col_classes|join(' ')  | default('col col-12') }} ">
            <div class="video-container in__animate " data-animation="animate__fadeIn animate__slow ">

                {% if section.preview %}
                <div class="video-thumbnail" onclick="playVideo(this)">
                    <img src="{{ Image(section.preview) }}" alt="Video Thumbnail" class="thumbnail-img" /> 
						<div class="play-button"><i class="fas fa-play"></i></div>  
                </div> 
                {% endif %}
                
                {% if section.embed %}
                <div class="video-embed" style="display: none;">
                    {{ section.embed | raw }}
                </div>
                {% endif %}
                
                {% if section.id_video %}
                <div class="video-iframe" style="display: none;">
                    <iframe
                        width="560"
                        height="315"
                        src=""
                        data-src="https://www.youtube.com/embed/{{ section.id_video }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                {% endif %}
                
                {% if section.video_file %}
                <div class="video-file" style="display: none;">
                    <video controls loop playsinline>
                        <source src="{{ section.video_file.url }}" type="video/mp4" />
                    </video>
                </div>
                {% endif %}
				
            </div>
        </div>
    </div>
</div>
{# :::::::::::::: 01 * GRIT_SET section_video END #}
