{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET section_counter #}
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 

{# :::::::::::::: 01 * GRIT_SET section_counter #}
{% set total_duration = 3000 %}

    <div class="container-fluid ">
        <div class="row {% if section.align == 'center' %}justify-content-center{% endif %}">  
            {% for item in section.counters %} 
            {% set classes = item.inner_class ? item.inner_class|split(' ') : [] %}
            {% set col_classes = classes|filter(class => class matches '/^col-.*$/') %}
            {% set other_classes = classes|filter(class => not (class matches '/^col-.*$/')) %}

            {% if not col_classes %}
                {% set col_classes = '' %}
                {% set total_items = section.counters | length %}
                {% if total_items == 1 %} 
                    {% if 'center' in section.align %}
                            {% set col_classes = 'col-md-10  col-xl-8 ' %}
                        {% else %}
                            {% set col_classes = 'col-12 col-md-12' %}
                    {% endif %} 
                {% elseif total_items == 2 %}
                    {% set col_classes = 'col-12 col-md-6 ' %}
                {% elseif total_items == 3 %}
                    {% set col_classes = 'col-12 col-sm-6 col-md-4' %}  
                {% else %}
                    {% set col_classes = 'col-12 col-sm-6 col-md-3 ' %}
                {% endif %}
            {% endif %} 
            <div class="item-counter tot-{{total_items}} {{ col_classes|join(' ') }} {{ other_classes|join(' ') }}">
                <div class="inner-item">  
                    {% if item.image %}
                    <div class="inner-img pb-3 in__animate " data-animation="animate__fadeIn animate__slow "> 
                        {% set image = {
                            'alt': item.image.alt,
                            'src': Image(item.image.id).src ,
                            'class': 'img-fluid '
                            }
                        %}
                        {% include ['/partials/img.twig'] with image %} 
                    </div>
                    {% endif %}
                    
                    {% set steps = 100 %}
                    {% set increment = (item.number / steps) | round(0, 'ceil') %}
                    {% set delay = (total_duration / steps) | round(0, 'ceil') %}
                    <div class="inner-text in__animate " data-animation="animate__fadeIn animate__slow "> 

                    <h3 class=" ">
                        {{item.prefix}}  
                        <span class="number-animate"  
                              number-animate-start="0" 
                              number-animate-end="{{ item.number }}" 
                              number-animate-delay="{{ delay }}" 
                              number-animate-increment="{{ increment }}">
                            0
                        </span>
                        {{item.suffix}}
                    </h3>
                    {% if item.text %}
                        <h5> {{ item.text }} </h5> 
                    {% endif %}   
                    </div>
                </div> 
            </div> 
            {% endfor %}
        </div>
    </div> 
{# :::::::::::::: 01 * GRIT_SET section_counter END #}

