 
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 my-5" id="section-list-list-search">
                <div class="contact-form-style-1" id="search_list">
                    <div class="pb-3">
                        <input type="search" class="search" placeholder="Come possiamo aiutarti?"/>
                    </div> 
                    <ul class="list p-0 w-100 list-unstyled">
                        {% for list in section.lists %}
                            {% set list_id = list.args|replace({' ': ''}) %}
                            {% for item in list.item %}
                                <li class="item-search mb-1">
 
                                            <div class="collapsed w-100 bg-grey"
                                                id="heading_{{ list_id }}_{{ loop.index }}"
                                                data-toggle="collapse"
                                                data-target="#collapse_search_{{ list_id }}_{{ loop.index }}"
                                                aria-expanded="true"
                                                aria-controls="collapse_search_{{ list_id }}_{{ loop.index }}">
                                                <div class="row p-3">
                                                    <div class="col-9">
                                                        <h5 class="m-0 search_title">{{ item.title }}</h5>
                                                        <p class="m-0 color-{{ list.args_color }} "><small>{{ list.args }}</small></p>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                         <i class="fas fa-plus color-{{ list.args_color }}"></i>
                                                    </div>

                                                </div>
                                                
                                            </div>
                                            <div id="collapse_search_{{ list_id }}_{{ loop.index }}" class="border collapse"
                                                aria-labelledby="heading_{{ list_id }}_{{ loop.index }}" data-parent="#accordion">
                                                <div class="p-3 search_text"> 
                                                    {{ item.text }}
                                                     
                                                </div>
                                            </div>
 
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="pagination pagination-list-js"></ul>
                </div>
            </div>
        </div>
        <div id="accordion">
            <div class="row">
                {% for list in section.lists %}
                    {% set list_id = list.args|replace({' ': ''}) %}
                    <div class="col-12 pt-5">
                        <h2 class="color-{{ list.args_color }}">{{ list.args }}</h2>
                    </div>
                    <div class="col">
                        <div class="row">
                            {% for item in list.item %}
                                <div class="col-12 mb-1 ">
                                    <div class=" w-100 bg-grey {% if loop.index != 1 %} collapsed {% endif %}"
                                        id="heading_{{ list_id }}_{{ loop.index }}"
                                        data-toggle="collapse"
                                        data-target="#collapse_{{ list_id }}_{{ loop.index }}"
                                        aria-expanded="true"
                                        aria-controls="collapse_{{ list_id }}_{{ loop.index }}">
                                        <div class="row p-3">
                                            <div class="col-9 ">
                                                <h5 class="m-0">{{ item.title }}</h5>
                                            </div>
                                            <div class="col-3 text-right "> 
                                                <i class="fas fa-plus color-{{ list.args_color }}"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse_{{ list_id }}_{{ loop.index }}" class=" border collapse {% if loop.index == 1 %} show {% endif %}"
                                        aria-labelledby="heading_{{ list_id }}_{{ loop.index }}" data-parent="#accordion">
                                        <div class=" p-3">
                                            {{ item.text }} 
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 

<style>
 
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            valueNames: ['search_title', 'search_text'],
            page: 3,
            pagination: true
        };
        var userList = new List('search_list', options);
    });
</script>
