{# Section #section_cube #}
 
    <div class="container-fluid ">
        <div class="row align-items-stretch ">
            <div class="col-12 col-md-6 bg-{{section.background_color}} p-0 m-0 col-text d-flex flex-column justify-content-center order-first {% if section.invert %} order-md-last {% else %}  {% endif %}">
                <div class="inner-text color-{{section.color}}">
                    <h3 class="text-uppercase color-{{section.text_color}}">
                        {{section.title}}
                    </h3>
                    <div class="py-4 color-{{section.text_color}}">
                        {{section.text}} 
                    </div>  
                    {% if section.lists %}
                    <div class="row pb-4">
                        {% for item in section.lists %}
                            <div class="col-12 col-md-6 item-list " >
                                <div class="inner-item-list border-{{section.text_color}}  d-flex align-items-center mb-3 pb-2">
                                    <img src="{{ Image(item.icon.id).src|resize(60,60)}}" alt="" class="img-fluid pr-2">
                                <p class="p-0 m-0 color-{{section.text_color}}">
                                    {{item.text}}
                                </p>
                                </div>
                            </div>
                        {% endfor %} 
                    </div> 
                    {% endif %}
                    
                    {% if section.link_1 %}
                        {% set btn = {
                            'title': section.link_1.title,
                            'url': section.link_1.url,
                            'target': section.link_1.target,
                            'style': 'btn btn-' ~ section.link_1_color ~ ' btn-md',
                            }
                        %}
                        {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                    {% if section.link_2 %}
                        {% set btn = {
                            'title': section.link_2.title,
                            'url': section.link_2.url,
                            'target': section.link_2.target,
                            'style': 'btn btn-' ~ section.link_2_color ~ ' btn-md',
                            }
                        %}
                        {% include ['/partials/btn.twig'] with btn %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 p-0 m-0 col-img order-last {% if section.invert %} order-md-first {% else %}  {% endif %}"  {% if section.gallery|length == 1 %} style="background-image: url('{{ Image(section.gallery[0].id).src|resize(1400,1400)}}');" {% endif %}>
               
                
                
                
                {% if section.gallery|length > 1 %}
                <div class="owl-carousel owl-theme cube-carousel" >
                    {% for gallery_img in section.gallery %}
                    <img src="{{ Image(gallery_img.id).src|resize(1400,1400)}}" alt="" class="img-fluid">
                    {% endfor %}
                </div>
                {% else %}   
                {# <img src="{{ Image(section.gallery[0].id).src|resize(1400,1400)}}" alt="" class="img-fluid"> #}
                {% endif %}
                
                
            </div>
        </div>
    </div>
 




<script>
 

 $(document).ready(function () {
     $(".cube-carousel").owlCarousel({
         loop: true,
         margin: 0,
         responsiveClass: true, 
         nav: true,
         dots: true,
         navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
         items: 1,
     });
 });
 
 </script>

{# end Section #section_cube #}
