<script type="text/javascript" src="{{ google_maps_api }}" async defer></script>
<script type="text/javascript">

    // When the window has finished loading create our google map below

    window.addEventListener('load', initMap);

    function initMap() {

        // Basic options for a simple Google Map

        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions

        // Create the Google Map using our element and options defined above

        var locations = [
                {% for location in section.section_maps %}["{{ location.section_maps_title }}", "{{ location.section_maps_description }}",{{ location.section_maps_pin.lat }},{{ location.section_maps_pin.lng }} , 4],{% endfor %}
        ];

        var map = new google.maps.Map(document.getElementById('section_maps_{{section.section_index}}'), {
            zoom: {{ section.section_maps_pin_center.zoom }},
            center: new google.maps.LatLng({{ section.section_maps_pin_center.lat }}, {{ section.section_maps_pin_center.lng }}),
            disableDefaultUI: true,

            // How you would like to style the map.

            // This is where you would paste any style found on Snazzy Maps.

            styles: [{
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"color": "#E3DECF"}, {"lightness": 17}]
            }, {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{"color": "#F4EEE9"}, {"lightness": 20}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
            }, {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{"color": "#E3DECF"}, {"lightness": 21}]
            }, {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [{"color": "#dedede"}, {"lightness": 21}]
            }, {
                "elementType": "labels.text.stroke",
                "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
            }, {
                "elementType": "labels.text.fill",
                "stylers": [{"saturation": 36}, {"color": "#655F36"}, {"lightness": 40}]
            }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{"color": "#F4EEE9"}, {"lightness": 19}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#F4EEE9"}, {"lightness": 20}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#F4EEE9"}, {"lightness": 17}, {"weight": 1.2}]
            }]

        });

        var infowindow = new google.maps.InfoWindow();


        var marker, i;

        // SVG icon configuration
        const svgIcon = {
            url: "{{template_directory_uri}}/img/pin.svg",  // Path to your SVG icon
            scaledSize: new google.maps.Size(50, 50),  // Adjust the size of the icon
            anchor: new google.maps.Point(25, 50),  // Adjust anchor point (center of the base of the pin)
        };

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][2], locations[i][3]),
                map: map,
                icon: svgIcon,  // Use the SVG icon
                label: {
                    text: locations[i][0],  // Text label
                    fontWeight: '700',  // Font weight
                    color: '#655F36',  // Text color
                }
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    var name = locations[i][0];
                    var address = locations[i][1];
                    var html = "<b>" + name + "</b> <br/>" + address;
                    infowindow.setContent(html);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }
</script>
<style type="text/css">
    /* Set a size for our map container, the Google Map will take up 100% of this container */
    .section_maps {
        width: 100%;
        height: 400px;
    }
</style>
<div class="section_id_{{ section.section_index }} section_maps" id="section_maps_{{ section.section_index }}"></div>
{# end Section #section_maps #}

