{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET html-header #} 
{# :::::::::::::: 02 * GRIT_SET loader #} 
{# :::::::::::::: 03 * GRIT_SET header #} 
{# :::::::::::::: 04 * GRIT_SET content #} 
{# :::::::::::::: 05 * GRIT_SET footer #} 
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}

{% block html_head_container %}


{# :::::::::::::: 01 * GRIT_SET html-header #} 
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
{# :::::::::::::: 01 * GRIT_SET html-header END #} 

<body class="{{body_class}} " data-template="base.twig">

	{# :::::::::::::: 02 * GRIT_SET loader #} 
    <div id="loader-wrapper">
        <div id="loader">
            <div class="grit-loader-spinners-balls">
                <div class="grit-spinners-balls-1"></div>
                <div class="grit-spinners-balls-2"></div>
            </div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <img class="logo-loader"
             src="{% if custom_logo_url %}{{ custom_logo_url[0] }}{% else %}{{ stylesheet_directory_uri }}/img/icona-grit-w.png{% endif %}"
             height="80">
    </div>
    {# :::::::::::::: 02 * GRIT_SET loader END #} 
 	
	<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

	{# :::::::::::::: 03 * GRIT_SET header #} 
	<header id="{{ grit_setting_header }}"> 
    	{% if grit_setting_header %}
			{% include ['headers/'~ grit_setting_header ~'.twig'] %}
		{% else %}
			{% include "headers/header_1.twig" %}
		{% endif %} 
    </header>
	{# :::::::::::::: 03 * GRIT_SET header END#} 
 		 
	{# :::::::::::::: 04 * GRIT_SET content #} 
	<section id="content" role="main" class="content-wrapper  ">
	 
		<div class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>

		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}

	</section>
	{# :::::::::::::: 04 * GRIT_SET content END #} 

	{# :::::::::::::: 05 * GRIT_SET footer #}  
    {% block footer %}
        <footer id="footer" class="{{ grit_setting_footer }}">
			{% if grit_setting_footer %}
					{% include ['/footers/'~ grit_setting_footer ~'.twig'] %}
				{% else %}
					{% include ['/footers/footer_1.twig'] %}
			{% endif %} 
        </footer>
		{{ function('wp_footer') }}
    {% endblock %}
	{# :::::::::::::: 05 * GRIT_SET footer END #}  

</body>
</html>
