{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET Comment #} 
{# :::::::::::::: 02 * GRIT_SET comment-form #}
{# :::::::::::::: 03 * GRIT_SET child comment #}
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 

<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<h5 class="comment-author">{{comment.author.name}} {{__('commenta', 'grit_theme')}}</h5>
	<div class="comment-content">{{comment.comment_content|wpautop}}</div> 
	<section class="comment-box contact-form-style-1"> 

		{# :::::::::::::: 02 * GRIT_SET comment-form #} 
		{% include "comment-form.twig" %} 
		
		{# :::::::::::::: 02 * GRIT_SET child comment #}  
		{% if post.comments %}
			<h4> {{__('Risposte', 'grit_theme')}}</h4>
			<div class="comments">
				{% for cmt in comment.children %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %} 
		{# :::::::::::::: 02 * GRIT_SET child comment END #}

	</section>
</div>