<section class="section-footer p-3  ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 py-5  ">
                <div class="row">
                    <div class="col-12 col-md-4 pt-4 ">
                        <p>
                            <b>
                                PROGETTI
                            </b>
                        </p>
                        {{ footer_col_1 }}
                    {#                        {% for last_5_progetto in last_5_progetti %}#}

                        {#                            <p class="py-3"><a href="{{ last_5_progetto.link }}" class="grit-btn">{{ last_5_progetto.title }}</a></p>#}
                        {#                        {% endfor %}#}
                    </div>
                    <div class="col-12 col-md-4 pt-4">
                        <p>
                            <b>
                                AGENZIA
                            </b>
                        </p>
                        {{ footer_col_2 }}
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                About
                            </a>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Workflow
                            </a>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Lavora con noi
                            </a>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Contatti
                            </a>
                        </p>
                    </div>
                    <div class="col-12 col-md-4 pt-4">
                        <p>
                            <b>
                                SOCIAL
                            </b>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Linkedin
                            </a>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Facebook
                            </a>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Instagram
                            </a>
                        </p>
                        <p class="py-3">
                            <a href="" class="grit-btn">
                                Dribble
                            </a>
                        </p>
                        {{ footer_col_3 }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 offset-md-1 py-5  ">
                <p class=" pt-4">
                    <b>
                        ISCRIVITI ALLA NOSTRA NEWSLETTER (OCCASIONALE)
                    </b>
                </p>
                <form onsubmit="location.href='{{ home }}/newsletter/?mailnewsletter=' + document.getElementById('mailnewsletter').value; return false;">
                    <div class="row">
                        <div class="col-6 my-1">
                            <input type="email" class="form-control " name="mailnewsletter" value="" size="30" id="mailnewsletter" aria-required="true" aria-invalid="false" placeholder="Indirizzo Mail" required>
                        </div>
                        <div class="col-6 my-2 mt-md-1 ">
                            <input type="submit" class="btn-priamry " value="ISCRIVITI">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 py-5 text-center">
                <img src="{% if custom_logo_url %}{{ custom_logo_url }}{% else %}{{ stylesheet_directory_uri }}/img/logo-grit-w.png{% endif %}" alt="" class="img-fluid" height="60px">
            </div>
        </div>
    </div>
</section>
<section class="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            {% if footer_bottom %}
                <div class="col">
                    <h4>
                        Widget footer_bottom
                    </h4>
                    {{ footer_bottom }}
                </div>
            {% endif %}
            <div class="col-xs-12 col-sm-12 col-md-6">
                <p>
                    <small>
                        Copyright
                        {{ "now"|date('Y') }}
                        -
                        <span class="text-uppercase">
                            {{ setting_intestazione }}
                        </span>
                        P.IVA
                        {{ setting_piva }} 
                        <i class="fas fa-map-marker-alt"></i>
                        {{ setting_indirizzo_1 }}
                        <i class="fas fa-at"></i>
                        <a href="mailto:{{ setting_mail_1 }}">
                            {{ setting_mail_1 }}
                        </a>
                        <i class="fas fa-phone"></i>
                        <a href="tel:{{ setting_tel_1 }}">
                            {{ setting_tel_1 }}
                        </a>
                    </small>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <p class="text-md-right">
                    <small>
                        <a href="{{ home }}/privacy-policy/">
                            Privacy Policy
                        </a>
                        -
                        <a href="{{ home }}/cookie-policy/">
                            Cookie Policy
                        </a>
                        <br>
                        <a target="_black" title="GRIT lab" href="https://www.gritlab.it"></a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>
