<!doctype html>
<html class="no-js no-svg" {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    
    {# :::::::::::::: 01 * GRIT_SET SEO Yoast Setting #}  
    <title>
        {% if metatitle %}
            {{ metatitle }}
        {% elseif wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{% if metadesc %}{{ metadesc }}{% elseif content %}{{ content|striptags|slice(0, 300) }}{% else %}{{ site.description }}{% endif %}">
 

    {# :::::::::::::: 02 * GRIT_SET SEO Meta Tag #}  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    {# :::::::::::::: 03 * GRIT_SET SEO Author #}  
    <link rel="author" href="{{ site.theme.uri }}/humans.txt">
    <link rel="pingback" href="{{ site.pingback_url }}">
    <link rel="profile" href="http://gmpg.org/xfn/11"> 

    {# :::::::::::::: 04 * GRIT_SET SEO style.css #} 
    <link rel="stylesheet" href="{{ site.theme.uri }}/style.css" type="text/css" media="screen"> 
 
    {# :::::::::::::: 05 * GRIT_SET SEO Google Fonts #}  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% for font in setting_google_fonts %}
        <link href="{{font}}" rel="stylesheet">
    {% endfor %} 
    <style>
        :root {
            --grit-font-primary:  {{setting_google_font_names[0]}};
            --grit-font-secondary:  {{setting_google_font_names[1]}};
        } 
    </style> 
 
    {# :::::::::::::: 06 * GRIT_SET SEO Google Fonts #}  
    {# :::::::::::::::::   https://www.favicon-generator.org #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.uri }}/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.uri }}/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.uri }}/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.uri }}/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.uri }}/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.uri }}/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.uri }}/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.uri }}/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.uri }}/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.uri }}/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.uri }}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.uri }}/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.uri }}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.uri }}/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.theme.uri }}/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"> 

    {# :::::::::::::: 06 * GRIT_SET SEO wp_head #} 
    {{function('wp_head')}}
