{% extends "base.twig" %}

{% block content %}

{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET Single Password #} 
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 
 
<section class="section_page contained py-3">
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-12 text-center">    
				<form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
					<label for="pwbox-{{post.ID}}">{{__('Inserisci password:', 'grit_theme')}}</label>
					<div class="d-flex justify-content-center"> 
						<input class="password-box w-auto" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="10" maxlength="10" />
						<input class="password-btn mx-2 btn btn-accent" type="submit" name="{{__('Accedi', 'grit_theme')}}" value="{{__('Accedi', 'grit_theme')}}" />
					</div>
				</form>
            </div>
			<div class="col-12 text-center py-7">
				<a href="{{ home }}" class="btn btn-accent btn-lg ">{{__('TORNA ALLA HOME', 'grit_theme')}}</a>
			</div>
        </div>
    </div>
</section>

{% endblock %}
