{% extends "base.twig" %}
{% block content %}

{% set article = content %}
{% set reading_speed = 200 %}
{% set word_count = article|split(' ')|length %}
{% set reading_time = (word_count / reading_speed)|round(0, 'ceil') %}

    <article class="single single-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        
        {% for section in sections %} 
			{% if section.pre_content %}
				{% set section = section|merge({'section_index': loop.index}) %} 
				{% include ['/sections/section.twig'] with section %}
			{% endif %}
		{% endfor %}

		<section class="section_page contained py-3">
			<div class="container-fluid">
				<div class="row">
                    <!-- Titolo e Descrizione -->
                    <div class="col-12 col-md-10 mx-auto py-6 ">
                        <h1>{{ title }}</h1>
                        <h3 class="">{{ post.post_excerpt }}</h3>
                    </div>
                </div>
            
                <div class="row">
                    <!-- Immagine Principale -->
                    <div class="col-12 text-center">
                        <img src="{% if post.thumbnail %}{{ post.thumbnail.src|resize(1800, 600) }}{% else %}{{ placeholder }}house{% endif %}"
                             alt="Immagine di {{ title }}" class="img-fluid rounded shadow-sm">
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12 col-lg-10 mx-auto py-6">
                        
            
                        <!-- Corpo del Post -->
                        <div class="single-{{ post.post_type }}-body my-4">
                            {{ post.content }}
                        </div>

                        <!-- Header della Sezione -->
                        <section class="single-{{ post.post_type }}-header py-4 ">
                            <p class="single-{{ post.post_type }}-author  ">
                                <strong class="text-uppercase">{{ post.post_type }}</strong> {{__(' scritto da', 'grit_theme')}} 
                                <a href="{{ post.author.path }}" class="text-decoration-none"> {{ post.author.name }} </a>
                            </p>
                            <p class="single-{{ post.post_type }}-date ">
                                <small>{{__('Data: ', 'grit_theme')}} : {{ post.post_date|date("d/M/Y") }}</small>
                            </p>
            
                            <!-- Categorie -->
                            <h5 class="single-{{ post.post_type }}-category mt-3">
                                <strong>{{__('Category:', 'grit_theme')}}</strong>
                                {% for category in post.terms('category') %}
                                    <a href="{{ category.link }}" title="{{ post.title }} - {{ category.name }}" class="badge bg-primary me-1">{{ category.name }}</a>
                                {% endfor %}
                            </h5>
            
                            <!-- Tag -->
                            <h5 class="single-{{ post.post_type }}-tag mt-3">
                                <strong>{{__('Tag:', 'grit_theme')}}</strong>
                                {% for tag in post.terms('post_tag') %}
                                    <a href="{{ tag.link }}" title="{{ post.title }} - {{ tag.name }}" class="badge bg-secondary me-1">{{ tag.name }}</a>
                                {% endfor %}
                            </h5>
            
                            <!-- Tassonomia Personalizzata -->
                            <h5 class="single-{{ post.post_type }}-tax mt-3">
                                <strong>{{__('Tax:', 'grit_theme')}}</strong>
                                {% for tax in post.terms('custom_taxonomy') %}
                                    <a href="{{ tax.link }}" title="{{ post.title }} - {{ tax.name }}" class="badge bg-info me-1">{{ tax.name }}</a>
                                {% endfor %}
                            </h5>
                        </section>
                        <!-- Fine Header della Sezione -->
            
                        <!-- Separatore -->
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </section>
 
        {% for section in sections %}
			{% if not section.pre_content %}
				{% set section = section|merge({'section_index': loop.index}) %} 
				{% include ['/sections/section.twig'] with section %}
			{% endif %}
		{% endfor %} 


            <section class="section_archive section_archive_carousel contained py-6">
                <div class="container-fluid">
                    <div class="row ">   
                                <div class="owl-carousel owl-theme">
                                    {% set grid = ' ' %} 
                                    {% for single_post in archive_posts %} 
                                        {% include ['./partials/tease-'~ post.post_type ~'.twig', './partials/tease.twig'] with {'post': single_post, 'grid': grid} %}
                                    {% endfor %} 
                                </div>
                        
                      
                    </div> 
                </div> 
            </section>
            
 
 
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5">
                        <hr>
                        <h1>{{__('Area Commenti', 'grit_theme')}}</h1>
                        <p> {{__('Area commenti utilizzando function( comment_form)', 'grit_theme')}}</p>
                        <section class="comment-box contact-form-style-1">
                            <div class="comments">
                                {% for comment in post.comments %}
                                    <article class="comment" id="comment-{{ comment.id }}">
                                        <h5 class="comment-author">{{ comment.author.name }}  {{__('says', 'grit_theme')}}</h5>
                                        {{ comment.content }}
                                    </article>
                                {% endfor %}
                                {{ function('comment_form') }}
                            </div>
                        </section>
                        <hr>
                        <h1>{{__('Area Commenti', 'grit_theme')}}</h1>
                        <p> {{__('Area commenti utilizzando Twig', 'grit_theme')}}</p>
                        <!-- comment box -->
                        <section class="comment-box">
                            <!-- comments -->
                            <div class="comments">
                                {% if post.comments %}
                                    <h3>{{__('Commenti   ', 'grit_theme')}}</h3>
                                    {% for cmt in post.comments %}
                                        {% include "comment.twig" with {comment:cmt} %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <hr>
                            {% if post.comment_status == "closed" %}
                                <p>{{__('I commenti su questo articolo sono chiusi ', 'grit_theme')}}</p>
                            {% else %}
                                <!-- comment form -->
                                {% include "comment-form.twig" %}
                            {% endif %}
                        </section>
                    </div>

                </div>

            </div>

        </section>
    </article>
{% endblock %}
